<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare"
        tools:targetApi="31">
        <activity
            android:name=".activities.patient.AddRelative"
            android:exported="false" />
        <activity
            android:name=".activities.patient.EditProfileRelative"
            android:exported="false" />
        <activity
            android:name=".activities.patient.EditProfileUser"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.Prescription"
            android:exported="false" />
        <activity
            android:name=".activities.patient.AppointmentDetailResult"
            android:exported="false" />
        <activity
            android:name=".activities.patient.AppointmentCalendar"
            android:exported="false" />
        <activity
            android:name=".activities.patient.Specialist"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.AppointmentDetailResult"
            android:exported="false" />
        <activity
            android:name=".activities.patient.AppointmentResult"
            android:exported="false" />
        <activity
            android:name=".activities.patient.FaceRecognition"
            android:exported="false" />
        <activity
            android:name=".activities.patient.DoctorList"
            android:exported="false" />
        <activity
            android:name=".activities.patient.HealthQuestion"
            android:exported="false" />
        <activity
            android:name=".activities.patient.DiseasePrediction"
            android:exported="false" />
        <activity
            android:name=".activities.patient.MedicalRecords"
            android:exported="false" />
        <activity
            android:name=".activities.patient.Register"
            android:exported="false" />
        <activity
            android:name=".activities.patient.PatientChatDoctor"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.OnlineAppointmentRoom"
            android:exported="false" />
        <activity
            android:name=".activities.patient.WaitingRoom"
            android:exported="false" />
        <activity
            android:name=".activities.patient.Payment"
            android:exported="true"
            android:label="Merchant Demo"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testCallingVideo.Test"
            android:exported="false" />
        <activity
            android:name=".activities.patient.Person_Online"
            android:exported="false" />
        <activity
            android:name=".activities.patient.ConfirmOnlineAppointment"
            android:exported="false" />
        <activity
            android:name=".Websocket"
            android:exported="false" />
        <activity
            android:name=".activities.patient.Calendar_Online"
            android:exported="false" />
        <activity
            android:name=".activities.patient.DoctorDetail"
            android:exported="false" />
        <activity
            android:name=".activities.patient.ScheduleEdit"
            android:exported="false" />
        <activity
            android:name=".activities.patient.DetailSchedule"
            android:exported="false" />
        <activity
            android:name=".activities.patient.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.MainEmployee"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorMain"
            android:exported="false" />
        <activity
            android:name=".testCallingVideo.Calling"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".testCallingVideo.Calling" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".testCallingVideo.LiveActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Login"
            android:exported="false" />
        <activity
            android:name=".activities.patient.Main"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notification.AlarmReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.healthcare.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>